{% extends 'concept/concept_base.html.twig' %}
{% set languageChooser = true %}
{% set languageChooserFunction = 'getLegendTranslatedNotEditable' %}
{% set languages = concept.components[0].componentNames|map(component => component.language) %}
{% set legendParameter = {'readonly': true} %}
{% set title = concept.title %}

{% block title %}Terminologio - {{ concept.title }}{% endblock %}

{% block upButton %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_concept_translation', {'title': concept.title}) }}" class="absolute border border-indigo-900 rounded-lg  text-center flow flow-col
                                    text-indigo-900 hover:text-white hover:bg-indigo-900 bg-white text-base font-semibold place-content-start py-3 px-4 mt-9 mx-5">
            Edit your translations
        </a>
    {% endif %}
{% endblock %}