{% extends 'concept/concept_base.html.twig' %}
{% set form = true %}
{% set formPath = 'app_concept_translation_save' %}
{% set formParameter = {title:concept.title, id:concept.defaultLanguage.id} %}
{% set languageChooser = true %}
{% set languageChooserFunction = 'getLegendTranslatedEditable' %}
{% set languages = languages %}
{% set legendParameter = {'translation': true} %}
{% set title = ('Edit your translations - ' ~  concept.title) %}

{% block title %}Terminologio - Create a new translation !{% endblock %}

{% block upButton %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_concept_show', {'title': concept.title}) }}" class="absolute border border-indigo-900 rounded-lg  text-center flow flow-col
                                    text-indigo-900 hover:text-white hover:bg-indigo-900 bg-white text-base font-semibold place-content-start py-3 px-4 mt-9 mx-5">
            Return
        </a>
    {% endif %}
{% endblock %}
