{% for component in components %}
    <div id="componentEdit{{ component.number }}" class=" py-3 place-items-center w-full">
        {% include('concept/components/component_edit_name_block.html.twig') %}
    </div>
{% endfor %}