<footer class="mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8">
    <div class="border-t border-slate-900/5 py-10">
        <h3 class="text-center text-black font-bold">Terminologio</h3>
        <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2023 Terminologio Team. All rights reserved.</p>
        <div class="mt-8 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-black">
            <a href="{{ path('app_terms') }}">Terms use</a>
            <div class="h-4 w-px bg-black/20"></div>
            <a href="/">Home</a>
        </div>
    </div>
</footer>