<img id="srcImage" src="{{ image_directory~asset(concept.image) }}" alt="concept-image" class="w-full aspect-auto"/>
<div {{ stimulus_target('component', 'components') }}>
    {{ include('concept/components/components_number_block.html.twig') }}
</div>