<label>
    Component {{ component.number }} :
    <input name='componentText{{ component.number }}'
           class='componentText'
           type="text"
           value="{% if component.name == "" %}
                    Component{{ component.number }}
                    {% else %}
                    {{ component.name }}
                    {% endif %}
                ">
</label>