{% for componentName in componentsName %}
    <div>
        <label>
            Component {{ componentName.number }} :
            <p> {{ componentName.name }} </p>
        </label>
    </div>
{% endfor %}