{% for component in concept.components %}
    <p style="
            position: absolute;
            top: {{ component.positionY }}%;
            left: {{ component.positionX }}%;
    ">
        {{ component.number }}
    </p>
{% endfor %}