<!DOCTYPE html>
{% block html %}
<html lang="en">
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    {% endblock %}

    {% block body %}
    <body>
        {% block navigation %}
            {{ include('/navigation/navigation.html.twig') }}
        {% endblock %}


        {% include('flash.html.twig') %}

        {% block bodyContent %}
        {% endblock %}

        {% block footer %}
            {{ include('/footer/footer.html.twig') }}
        {% endblock %}
    </body>
    {% endblock %}
</html>
{% endblock %}