{% for message in app.flashes('warning') %}
    <div role="alert" class="banner px-6 py-6">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
            Alert
        </div>
        <div class="flex flex-row border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
            <p class="w-3/5 float-left">{{ message }}</p>
            <button class="flex flex-grow bg-transparent text-2xl font-semibold leading-none outline-none focus:outline-none" onclick="closeAlert()">
                <span class="w-full h-full text-right">×</span>
            </button>
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('info') %}
    <div role="alert" class="banner px-6 py-6">
        <div class="bg-blue-500 text-white font-bold rounded-t px-4 py-2">
            Info
        </div>
        <div class="flex flex-row border border-t-0 border-blue-400 rounded-b bg-blue-100 px-4 py-3 text-blue-700">
            <p class="w-3/5 float-left">{{ message }}</p>
            <button class="flex flex-grow bg-transparent text-2xl font-semibold leading-none outline-none focus:outline-none" onclick="closeAlert()">
                <span class="w-full h-full text-right">×</span>
            </button>
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('notice') %}
<div class="banner align-middle text-center text-black px-6 py-4 border-0 rounded relative mb-4 bg-gradient-to-r from-[#e7e5e4] to-[#c4b5fd] opacity-90">
  <span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-bell"></i>
  </span>
    <span class="inline-block align-middle mr-8 content-center">
        <b class="capitalize">{{ message }}</b>
    </span>
    <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert()">
        <span>×</span>

    </button>
</div>
{% endfor %}
<script>
    function closeAlert(){
        let elements = document.getElementsByClassName('banner');
        for (let i = 0; i < elements.length; i++) {
            elements[i].remove();
        }
    }
</script>