{% extends('base.html.twig') %}

{% block title %} Terminologio - Terms of use {% endblock %}

{% block body %}

    <section id="terms" class="p-4 flex flex-col justify-center min-h-screen w-4/6 mx-auto">
        <div class="align-middle rounded shadow-2xl container mx-auto w-full p-5"
             style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
            <div class="flex items-center justify-center m-10">
                <h1 class="tracking-wide text-3xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-white font-bold">Terms of use</h1>
            </div>
            <div class="flex justify-between items-center mb-3">
                <div class="w-full flow flow-col grid h-full place-items-center text-center">
                    <p class="font-bold text-gray-800">Last updated on December 28, 2023</p>
                    <br>
                    <h2 class="tracking-wide text-1xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-white font-bold">Website Intended Audience</h2>

                    <p class="font-bold text-black">This website is intended for and directed to students and people in need of concepts with legend and its translation.</p>
                    <br>
                    <h2 class="tracking-wide text-1xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-white font-bold">User guidelines</h2>

                    <p class="font-bold text-black">
                        Terminologio respects intellectual property rights and expects you to do the same.
                        We've established a few ground rules for you to follow when using the service, to make sure Terminologio stays enjoyable for everyone.
                        You must follow these rules and should encourage other users to do the same.
                    </p>
                    <ol class="p-10 list-decimal font-bold text-black">
                        <li>You may not use the Terminologio Service to import or copy any local files that you do not have the legal right to import or copy in this way.</li>
                        <li>It is forbidden to sell, rent, sublicense or lease any part of the Terminologio Service.</li>
                        <li>You may not remove or alter the picture of a concept contained on Terminologio. </li>
                        <li>Do not provide your password to any other person or use any other person's username and password.</li>
                        <li>It is forbidden to sell a user account, to accept any compensation, financial or otherwise. </li>
                    </ol>
                    <br>

                    <h2 class="tracking-wide text-1xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-white font-bold">What you can share and do on Terminologio</h2>

                    <p class="font-bold text-black">
                        We want people to use Terminologio to help them with abstract concept which need to be expressed by illustrations with legend,
                        but not at the expense of the safety and well-being of others or the integrity of our community.
                    </p>

                    <ol class="p-10 text-justify list-decimal font-bold text-black">
                        <li>You may not use our Service to do or share anything that violates these terms that apply to your use of Terminologio,
                            that is unlawful misleading, discriminatory or fraudulent, that infrigates or violates someone else's rights. </li>
                        <li>You may not upload viruses or malicious code or do anything that could disable, overburden, or impair the proper working or appearance of our Service.</li>
                        <li>You may not access or collect data from our Service using automated means (without our prior permission) or attempt to access data you do not have permission to access.</li>
                    </ol>

                    <p class="font-bold text-black">We can remove content you share in violation of these provisions and, if applicable, we may take action against your account, for the reasons described below.</p>
                    <br>

                    <h2 class="tracking-wide text-1xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-white font-bold">Account termination</h2>

                    <p class="font-bold text-black">If we determine that you gave violated our terms or policies, we may take action against your account to protect our community and services, including by disabling it.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}